<div class="radio-input-container">
    <div class="radio-content-left">
        <h3 class="radio-inputs-title">{{ radioInputs.radioInputsTitle }}</h3>
        <div>
            <div class="enabled-radion-title">{{ radioInputs.enabledUnselected }}</div>
            <mat-radio-group aria-label="Select an option" class="radio-group">
                <mat-radio-button value="1" class="radio-btn">{{ radioInputs.radioinputText }}</mat-radio-button>
            </mat-radio-group>
        </div>
        <div>
            <div class="enabled-radion-title">{{ radioInputs.enabledSelected }}</div>
            <mat-radio-group aria-label="Select an option" class="radio-group">
                <mat-radio-button class="radio-btn" checked>{{ radioInputs.radioinputText }}</mat-radio-button>
            </mat-radio-group>
        </div>
        <div>
            <div class="enabled-radion-title">{{ radioInputs.disabledUnselected }}</div>
            <mat-radio-group aria-label="Select an option" class="radio-group">
                <mat-radio-button value="1" class="radio-btn" disabled>{{ radioInputs.radioinputText }}</mat-radio-button>
            </mat-radio-group>
        </div>
        <div>
            <div class="enabled-radion-title">{{ radioInputs.disabledSelected }}</div>
            <mat-radio-group aria-label="Select an option" class="radio-group">
                <mat-radio-button class="radio-btn" [checked]="isChecked" [disabled]="isDisabled">{{ radioInputs.radioinputText }}</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="radio-content-right">
    </div>
</div>
