<div class="inputs-container">
    <form [formGroup]="textFields" class="inputs-form">
        <div class="inputs-form-content">
            <div>{{ inputStatesFields.default }}</div>
            <mat-form-field class="input-content input-content-default" appearance="outline">
                <mat-label class="mat-label-style">{{ inputLabels.label }}</mat-label>
                <input 
                    formControlName="default"
                    matInput 
                    class="input-inner-style"
                >
            </mat-form-field>
        </div>
        <div class="inputs-form-content">
            <div>{{ inputStatesFields.focused }}</div>
            <mat-form-field class="input-content input-content-focused" appearance="outline">
                <mat-label class="mat-label-style">{{ inputLabels.label }}</mat-label>
                <input 
                    formControlName="focused"
                    matInput 
                    placeholder="Text that User is entering" 
                    class="input-inner-style"
                    autofocus
                >
            </mat-form-field>
        </div>
        <div class="inputs-form-content">
            <div>{{ inputStatesFields.completed }}</div>
            <mat-form-field class="input-content" appearance="outline">
                <mat-label class="mat-label-style">{{ inputLabels.label }}</mat-label>
                <input
                    formControlName="completed"
                    matInput 
                    placeholder="Text entered, the input field is completed" 
                    class="input-inner-style"
                >
            </mat-form-field>
        </div>
        <div class="inputs-form-content">
            <div>{{ inputStatesFields.autoclear }}</div>
            <mat-form-field class="input-content" appearance="outline">
                <mat-label class="mat-label-style">{{ inputLabels.label }}</mat-label>
                <input 
                    formControlName="autoclear"
                    matInput type="text" [(ngModel)]="value" class="input-inner-style">
                <button class="close-icon" mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="inputs-form-content">
            <div>{{ inputStatesFields.errorF }}</div>
            <mat-form-field class="input-content input-content-error" appearance="outline">
                <mat-label class="mat-label-style">{{ inputLabels.label }}</mat-label>
                <input 
                    formControlName="errorField"
                    matInput type="text" class="input-inner-style"
                >
            </mat-form-field>
            <mat-error *ngIf="formTextFieldsControls?.errorField?.invalid && (formTextFieldsControls?.errorField?.dirty || formTextFieldsControls?.errorField?.touched)" class="error-message">
                <div *ngIf="formTextFieldsControls?.errorField?.errors.required">
                    {{ errorMessage.errorM }}
                </div>
            </mat-error>
        </div>
        <div class="inputs-form-content">
            <div>{{ inputStatesFields.disabled }}</div>
            <mat-form-field class="input-content input-content-disabled" appearance="outline">
                <mat-label class="mat-label-style">{{ inputLabels.label }}</mat-label>
                <input
                    formControlName="disabled"
                    matInput
                    class="input-inner-style"
                    type="text"
                >
            </mat-form-field>
        </div>
    </form>
</div>
